---
layout: default
---
<article class="post">
<header>
  <h1>{{ data.title }}</h1>
  <div class="meta">
    <p class="published"><time datetime="{{ data.date }}">{{ data.date }}</time></p>
    <ul class="categories">
    </ul>
  </div>
</header>

<section>
  <div class="prose">
    {{ content }}
  </div>
</section>

<aside class="tags">
<span class="hash"></span>
<ul></ul>

<p class="comment">
<a href="https://theblower.au?text=post-title @williamp@theblower.au&url=post-url" data-src="text=post-title by @williamp@theblower.au&url=hpost-url" class="commentonmastodon"><img src="/i/icon-mastodon" alt="" class="icon"> Comment via Mastodon</a>
</p>

<aside class="relatedposts">
  <h2>Related Posts</h2>
  <ul class='articles'>
    <li>
      <article>
        <h3><a href="">Title of related post</a></h3>
        <p class='summary'>Summary text of post.</p>
        <p class='date'><time datetime="">Date of post</time></p>
      </article>
    </li>
    <li>
      <article>
        <h3><a href="">Title of related post</a></h3>
        <p class='summary'>Summary text of post.</p>
        <p class='date'><time datetime="">Date of post</time></p>
      </article>
    </li>
    <li>
      <article>
        <h3><a href="">Title of related post</a></h3>
        <p class='summary'>Summary text of post.</p>
        <p class='date'><time datetime="">Date of post</time></p>
      </article>
    </li>
  </ul>
</aside>


<aside class="next-prev">
<ul class="articles">
<li><h5 class="older">Previous</h5>
<article>
</article></li>
<li></li></ul>
</aside>
