<nav>
  <ul>
    <%= render "nav_links", links:
        { "Home" => "/",
          "Blog" => "/posts/"} %>
    <!-- <%= render "nav_social_links", links:
      { "GitHub" => "https://github.com/wpickup",
        "Mastodon" => "@Williamp@theblower.au",
        "LinkedIn" => "https://linkedin.com/in/williampickup" } %> -->
  </ul>
</nav>
