<nav>
  <ul>
    <%= render "nav_links", links:
        { "Home" => relative_url "/",
          "Blog" => relative_url "/posts",
          "Now" => relative_url "/now",
          "About" => relative_url "/about" } %>
  </ul>
</nav>
