<nav id="main-menu">
  <ul>
    <%= render "nav_links", links:
        { "William Pickup" => "/",
          "Blog" => "/posts",
          "Now" => "/now",
          "About" => "/about" } %>
  </ul>
</nav>
