<footer class="global">
<p class="copyright">© 2002–2023 <a href="/about">William Pickup</a></p>
<p class="icons">
<a href="https://theblower.au/@Williamp" class="icon"><img src="/icons/icon-mastodon-white.svg" alt="Follow me on Mastodon" title="@Williamp@theblower.au"></a>
<a href="/feeds/fullposts.xml" class="icon"><img src="/icons/icon-rss.svg" alt="RSS Feed" title="RSS Feed"></a>
</p>
<nav class="colophon">Published in North Curl Curl, Sydney · <a href="/colophon">Colophon</a></nav>
</footer>
